{{define "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <style>
            table, th, td {
                 border: 1px solid black;
            }
        </style>
        <meta charset="UTF-8">
        <title>{{.}}</title>
    </head>
    <body>
{{end}}